colorama==0.4.6 ; python_version >= "3.11" and python_version < "3.14" and sys_platform == "win32"
iniconfig==2.0.0 ; python_version >= "3.11" and python_version < "3.14"
loguru==0.7.2 ; python_version >= "3.11" and python_version < "3.14"
mypy-extensions==1.0.0 ; python_version >= "3.11" and python_version < "3.14"
mypy==1.11.1 ; python_version >= "3.11" and python_version < "3.14"
packaging==24.1 ; python_version >= "3.11" and python_version < "3.14"
pluggy==1.5.0 ; python_version >= "3.11" and python_version < "3.14"
pytest==8.3.2 ; python_version >= "3.11" and python_version < "3.14"
ruff==0.5.5 ; python_version >= "3.11" and python_version < "3.14"
typing-extensions==4.12.2 ; python_version >= "3.11" and python_version < "3.14"
win32-setctime==1.1.0 ; python_version >= "3.11" and python_version < "3.14" and sys_platform == "win32"
